In [1]:
# import packages
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder

The file contains the different attributes of customers' reservation details. The detailed data dictionary is given below.


**Booking_ID**: unique identifier of each booking

**no_of_adults**: Number of adults

**no_of_children**: Number of Children

**no_of_weekend_nights**: Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel

**no_of_week_nights**: Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel

**type_of_meal_plan**: Type of meal plan booked by the customer:

**required_car_parking_space**: Does the customer require a car parking space? (0 - No, 1- Yes)

**room_type_reserved**: Type of room reserved by the customer. The values are ciphered (encoded) by INN Hotels.

**lead_time**: Number of days between the date of booking and the arrival date

**arrival_year**: Year of arrival date

**arrival_month**: Month of arrival date

**arrival_date**: Date of the month

**market_segment_type**: Market segment designation.

**repeated_guest**: Is the customer a repeated guest? (0 - No, 1- Yes)

**no_of_previous_cancellations**: Number of previous bookings that were canceled by the customer prior to the current booking

**no_of_previous_bookings_not_canceled**: Number of previous bookings not canceled by the customer prior to the current booking

**avg_price_per_room**: Average price per day of the reservation; prices of the rooms are dynamic. (in euros)

**no_of_special_requests**: Total number of special requests made by the customer (e.g. high floor, view from the room, etc)

### Data Understanding

In [2]:
# read csv file from data/Hotel Reservations.csv and show size and first 10 rows
df = pd.read_csv('data/Hotel Reservations.csv', sep = ',')
print(f'size of df: {df.shape}')
df.head(10)

size of df: (36275, 19)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,9,13,Online,0,0,0,115.00,1,Canceled
6,INN00007,2,0,1,3,Meal Plan 1,0,Room_Type 1,34,2017,10,15,Online,0,0,0,107.55,1,Not_Canceled
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,12,26,Online,0,0,0,105.61,1,Not_Canceled
8,INN00009,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,2018,7,6,Offline,0,0,0,96.90,1,Not_Canceled
9,INN00010,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,2018,10,18,Online,0,0,0,133.44,3,Not_Canceled

In [3]:
# checking df info and for null data if any
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [4]:
# changing the target feature to binary 1|0
# 1 = not cancelled and 0 = cancelled
df.loc[(df['booking_status'] == 'Not_Canceled'), 'booking_status'] = 0
df.loc[(df['booking_status'] == 'Canceled'), 'booking_status'] = 1
df['booking_status'] = df['booking_status'].astype('Int32')

### Feature Engineering

In [5]:
# getting rid of year/month/date columns and merging them into 1 column(date) + making it datetime type
df.rename(columns={"arrival_year": "year", "arrival_month": "month", "arrival_date": "day"}, 
          inplace = True)
df.loc[(df.day == 29) & (df.month == 2), 'day'] = 28
df ['arrival_date'] = pd.to_datetime(df[['year', 'month', 'day']], errors='coerce')
df.drop(['year', 'month', 'day'], axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 17 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   market_segment_type                   36275 non-null  object
 10  repeated_guest                        36275 non-null  int64
 11  no_of_previous_cancellations          36275 non-null  int64
 12  no_of_previous_bookings_not_canceled  36275 non-null  int64
 13  avg_price_per_room                    36275 non-null  float64
 14  no_of_special_requests                36275 non-null  int64
 15  booking_status                        36275 non-null  Int32
 16  arrival_date                          36275 non-null  datetime64[ns]
dtypes: Int32(1), datetime64[ns](1), float64(1), int64(10), object(4)
memory usage: 4.6+ MB

In [6]:
df['type_of_meal_plan'] = np.where(df.type_of_meal_plan == 'Not Selected', 0, 
                                   df.type_of_meal_plan.str.split(" ", expand = True)[2])
df['room_type_reserved'] = np.where(df.room_type_reserved == ' ', 0,
                                    df.room_type_reserved.str.split(" ", expand = True)[1])

In [7]:
df['market_segment_type'].value_counts()

Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125
Name: market_segment_type, dtype: int64

In [8]:
# encoding categorical features with OneHotEncoder
ohe = OneHotEncoder(sparse=False, drop='first', dtype = 'int')

ohe_new = ohe.fit_transform(df[['market_segment_type']])
df_new = pd.DataFrame(ohe_new, columns=ohe.get_feature_names_out())
df = pd.concat([df, df_new], axis=1)
df

C:\Users\FLEX\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,market_segment_type,...,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,arrival_date,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online
0,INN00001,2,0,1,2,1,0,1,224,Offline,...,0,0,65.00,0,0,2017-10-02,0,0,1,0
1,INN00002,2,0,2,3,0,0,1,5,Online,...,0,0,106.68,1,0,2018-11-06,0,0,0,1
2,INN00003,1,0,2,1,1,0,1,1,Online,...,0,0,60.00,0,1,2018-02-28,0,0,0,1
3,INN00004,2,0,0,2,1,0,1,211,Online,...,0,0,100.00,0,1,2018-05-20,0,0,0,1
4,INN00005,2,0,1,1,0,0,1,48,Online,...,0,0,94.50,0,1,2018-04-11,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,1,0,4,85,Online,...,0,0,167.80,1,0,2018-08-03,0,0,0,1
36271,INN36272,2,0,1,3,1,0,1,228,Online,...,0,0,90.95,2,1,2018-10-17,0,0,0,1
36272,INN36273,2,0,2,6,1,0,1,148,Online,...,0,0,98.39,2,0,2018-07-01,0,0,0,1
36273,INN36274,2,0,0,3,0,0,1,63,Online,...,0,0,94.50,0,1,2018-04-21,0,0,0,1
36274,INN36275,2,0,1,2,1,0,1,207,Offline,...,0,0,161.67,0,0,2018-12-30,0,0,1,0

In [9]:
# dropping unnecessary columns
df.drop(['Booking_ID', 'market_segment_type'], axis = 1, inplace = True)

In [10]:
df.columns

Index(['no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 'booking_status',
       'arrival_date', 'market_segment_type_Complementary',
       'market_segment_type_Corporate', 'market_segment_type_Offline',
       'market_segment_type_Online'],
      dtype='object')

In [11]:
# reindexing columns so that booking status is at last 
new_cols = ['no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 
       'arrival_date', 'market_segment_type_Complementary',
       'market_segment_type_Corporate', 'market_segment_type_Offline',
       'market_segment_type_Online', 'booking_status']
df=df.reindex(columns=new_cols)
df

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,arrival_date,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,booking_status
0,2,0,1,2,1,0,1,224,0,0,0,65.00,0,2017-10-02,0,0,1,0,0
1,2,0,2,3,0,0,1,5,0,0,0,106.68,1,2018-11-06,0,0,0,1,0
2,1,0,2,1,1,0,1,1,0,0,0,60.00,0,2018-02-28,0,0,0,1,1
3,2,0,0,2,1,0,1,211,0,0,0,100.00,0,2018-05-20,0,0,0,1,1
4,2,0,1,1,0,0,1,48,0,0,0,94.50,0,2018-04-11,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,1,0,4,85,0,0,0,167.80,1,2018-08-03,0,0,0,1,0
36271,2,0,1,3,1,0,1,228,0,0,0,90.95,2,2018-10-17,0,0,0,1,1
36272,2,0,2,6,1,0,1,148,0,0,0,98.39,2,2018-07-01,0,0,0,1,0
36273,2,0,0,3,0,0,1,63,0,0,0,94.50,0,2018-04-21,0,0,0,1,1
36274,2,0,1,2,1,0,1,207,0,0,0,161.67,0,2018-12-30,0,0,1,0,0

### EDA